<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <service
            android:name="expo.modules.callrecording.CallRecordingService"
            android:exported="false"
            android:foregroundServiceType="microphone" />
    </application>
</manifest>
